<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

  <link rel="stylesheet" href="/css/style.css">
  <title>Bookstore Database</title>
</head>

<body>
  <header>
    <h2><a href="/">
        Bookstore Database</a></h2>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/books">All Books</a>
        </li>
        <li>
          <a href="/books/add">Add Book</a>
        </li>
      </ul>
    </nav>
  </header>

  {{{body}}}
</body>

</html>